doctype html
html(lang='en', style='height: 100%')
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', href='stylesheets/11.css')
    script(language='javascript', src='javascripts/script.js')
  body
    #fullDiv
      table#table(border='0', align='center')
        tbody
          tr
            td#frmDN(colspan='2') Login Form
          tr
            td(align='right', width='300px') User name
            td(align='left', width='400px')
              input#txtTen.txt(type='text', name='txtTen')
          tr
            td(align='right') Password
            td(align='left')
              input#txtMatKhau.txt(type='password', name='txtMatKhau')
          tr
            td(colspan='2')
              input#btnDN(type='button', value='Login', onclick='PrintName();')
          tr
            td#hello(colspan='2') Welcome
