<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/room.css">
</head>

<body>
    <div id="joinGame">
        <h2>Tham Gia Game</h2>
        <button id="gamepad1">Gamepad 1</button>
        <button id="gamepad2">Gamepad 2</button>
    </div>

    <div>
        <canvas id="room" width="800" height="500" style=" position: absolute;z-index: -1; border:5px solid #000;"> </canvas>
        <canvas id="hieuungroom" width="800" height="500"> </canvas>
    </div>

    <div>
        <button id="logout">Thoát tài khoản</button>
    </div>
    <script src="/js/room.js"></script>
</body>

</html>