body {
	position: absolute;
		width: 1300px;
		height: 1000px;
		margin-top: 10px;
	 /*padding: 10px 10px 10px;*/
	  z-index: 100;
	background: #fff

}

#abc {
	color: #c0392b;
	margin-left: 10px;
}
#abc1 {
	color: #000;
    right: 30px;
    top: 50px;
    padding: 50px;
    height: 80%;
    width: 400px;
    background-color: rgb(209, 229, 224);
    z-index: 100;
    position: fixed
}
