body {
    position: absolute;
    width: 720px;
    height: 1024px;
    margin-top: 10px;
    /*padding: 10px 10px 10px;*/
    z-index: 100;
    background: #fff
}

#joinGame {
    display: flex;
    color: #c0392b;
    margin-left: 10px;
}